footer {
    position: absolute;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    color: var(--light-main);
    background-color: var(--dark-accent);
    font-size: 1.2rem;
}

#footer-svg {
    position: absolute;
    z-index: -1;
    fill: var(--dark-accent);
    width: 100%;
    height: 4vw;
    bottom: 100%;
}

#footer-svg>* {
    filter: drop-shadow(0 0 5px black);
}

footer .column {
    margin: 0 3vw;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer ul {
    display: contents;
}

footer li {
    list-style: none;
    margin: 2px 0;
}

footer h1 {
    font-family: 'Fira Code', monospace;
    margin: 0;
}

#website-column h1 {
    margin: 0 0 20px 0;
}

#social-column p:hover {
    cursor: pointer;
}

#copy-popup {
    display: none;
    position: absolute;
    top: 80px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--dark-accent);
    border: 3px solid var(--accent-color1);
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer .sliding-underline:hover:after {
    background: var(--light-main);
}

@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        height: 600px;
    }

    #about-column p {
        max-width: 70vw;
    }

    footer h1 {
        font-size: 1.5rem;
    }

    footer ul {
        margin: 0;
    }

    footer p {
        margin: 10px;
    }

    #copy-popup {
        top: 270px;
    }
}