@import url(https://fonts.cdnfonts.com/css/bahnschrift);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Fira+Code);
@import url(https://fonts.googleapis.com/css?family=Roboto);

:root {
    --accent-color1: #6128ff;
    --accent-color2: #fff157;
    --dark-accent: #290029;
    --light-main: #fff3e0;
    --dark-main: #202220;
}

body {
    margin: 0;
    background: var(--light-main);
    position: relative;
    z-index: -5;
    font-family: 'Bahnschrift';
}

a {
    color: var(--accent-color1);
}

.screen {
    position: relative;
    width: 100%;
    height: 100vh;
    color: var(--dark-accent);
}

.screen.cv {
    height: fit-content;
    padding-bottom: 150px;
}

.header {
    position: relative;
    font-size: 3rem;
    font-family: 'Bahnschrift', sans-serif;
    left: 5vw;
    width: fit-content;
}

.sliding-underline:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.5s ease, background 0.5s ease;
}

.sliding-underline:hover:after, .sliding-underline.active:after {
    width: 100%;
    background: var(--dark-accent);
}

.paragraph {
    position: relative;
    font-size: 1.75rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.cv-date {
    position: absolute;
    transform: rotate(-90deg);
    width: 100vh;
    text-align: center;
    left: calc(-50vh + 2rem);
    top: 40vh;
    font-size: 2rem;
    font-family: 'Fira Code';
}

.cv-role{
    position: relative;
    left: 5vw;
    font-size: 3rem;
    font-family: 'Raleway';
    width: fit-content;
    margin: 1.25em 0 0.25em 0;
    text-decoration: underline;
    display: inline-block;
}

.cv-logo {
    position: absolute;
    right: 5vw;
    top: 80px;
    width: 15vw;
}

.cv-github-link {
    position: relative;
    display: inline-block;
    left: 100px;
    font-size: 3rem;
    color: inherit;
    width: 50px;
    height: 3rem;
}

ul.cv-keywords {
    position: relative;
    font-size: 1.5rem;
    font-family: 'Fira Code';
    color: var(--accent-color1);
    margin-left: 5vw;
    padding: 0;
}

ul.cv-keywords li {
    display: inline-block;
    list-style: none;
    margin-right: 2vw;
}

ul.cv-summary {
    position: relative;
    margin-left: 7.5vw;
    font-size: 1.5rem;
    font-family: 'Bahnschrift';
    padding: 0;
}

ul.cv-summary li {
    margin: 0.5em 0;
    list-style: none;
    width: fit-content;
}

ul.cv-summary li:before {
    content: '>';
    margin-right: 15px;
    font-family: 'Fira Code';
}

.cv-content {
    position: relative;
    top: 5vh;
    margin-left: 7.5vw;
    font-size: 1.5rem;
    width: 80vw;
}

.cv-content.with-image {
    width: 65vw;
}

.cv-image {
    position: absolute;
    right: 5vw;
    width: 15vw;
    height: 15vh;
    border-radius: 20px;
    border: 3px solid var(--accent-color1);
    object-fit: cover;
    transition-property: top, width, height, border-radius, border;
    transition-duration: 500ms;
}

.cv-image.top {
    z-index: 1;
}

.cv-image.first {
    top: 45vh;
}

.cv-image.second {
    top: 65vh;
}

.cv-image.third {
    top: 85vh;
}

.cv-image:hover {
    cursor: pointer;
}

.cv-image.focus {
    z-index: 4;
    object-fit: contain;
    top: 5vh;
    width: 90vw;
    height: 90vh;
    border-radius: 0;
    border: none;
}

#background-blur {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(5px) brightness(0.5);
}

.separator-container {
    position: absolute;
    width: 100%;
}

.separator {
    position: relative;
    width: 100%;
    height: 125px;
    top: -75px;
    fill: var(--accent-color1);
}


@media screen and (max-width: 768px) {
    .header {
        font-size: 2.5rem;
    }

    .paragraph {
        font-size: 1.5rem;
        line-height: 1.25;
    }

    .screen.cv {
        padding-bottom: 200px;
    }

    .cv-date {
        position: relative;
        transform: none;
        top: 0;
        left: 0;
        width: fit-content;
        text-align: left;
        font-size: 1.5rem;
        margin-left: 5vw;
    }

    .cv-logo {
        display: block;
        position: relative;
        top: 0;
        left: 5vw;
        margin-top: 25px;
        margin-bottom: 0;
        width: 40vw;
    }

    .cv-github-link {
        left: 40px;
    }

    .cv-role {
        font-size: 2rem;
        margin-top: 0.25em;
        max-width: 90vw;
    }

    .cv-role.no-logo {
        margin-top: 1.25em;
    }

    ul.cv-keywords {
        font-size: 1.25rem;
    }

    ul.cv-summary {
        font-size: 1.25rem;
        margin-left: 5vw;
    }

    .cv-content {
        margin-left: 5vw;
        width: 90vw;
        font-size: 1.3rem;
        top: 0;
    }

    .cv-content.with-image {
        width: 90vw;
    }

    .separator {
        top: -100px;
    }

    .cv-image {
        position: relative;
        left: 15vw;
        width: 70vw;
        height: 20vh;
        margin: 10px 0;
    }

    .cv-image.first, .cv-image.second, .cv-image.third {
        top: 0;
    }

    .cv-image.focus {
        top: 0;
        left: 5vw;
    }
}