:root {
    --accent-color1: #6128ff;
    --accent-color2: #fff157;
    --dark-accent: #290029;
    --light-main: #fff3e0;
    --dark-main: #202220;
}

body {
    margin: 0;
    background: var(--light-main);
    position: relative;
    z-index: -5;
}

.header {
    position: relative;
    font-size: 3rem;
    font-family: 'Bahnschrift', sans-serif;
    left: 5vw;
}

.paragraph {
    position: relative;
    font-size: 1.75rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}